body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    width: 640px;
    margin: 1rem auto;
    border: 1px solid;
    padding: 1rem;
    background-color: rgb(69, 69, 234);

}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}