.container {
    margin: 0 10%;
    font-family: 'Montserrat', Tenor sans;

}

.home-grid {
    display: grid;
    grid-template-columns: 25% 70%;
    background-color: rgb(17, 7, 145);
}

@media screen and (min-width: 32.5em) {
    h2 {
        font-size: 2.5em;
        color: blue;
        margin: 1rem;
    }
}

.img {
    width: 30%;
    margin: 10px;
    float: left;
}

.img img {
    width: 200px;
    height: 300px;
}

.name {
    width: 68%;
    float: right;
    padding: 20% 100px 0;
    justify-content: center;
    text-align: center;
    align-items: baseline;
    color: white;
}

h1 {
    font-style: underline;
}

h2 {
    margin: 0;
    padding: 0;
}

.main {
    text-align: center;
}

footer p {
    color: rgb(84, 235, 104);
    padding: 25px 50px;
    margin-top: 50px;
    background-color: dodgerblue;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

body {
    width: 90%;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #325286;
    border-radius: 20px;
    margin-top: 10px;
}

header div {

    /* background-color: rgba(17, 56, 129, 0.727); 
text-align: center;
display: grid;
grid-template-columns: 2fr 1fr 3fr 2fr;
align-items: center;
justify-content: center;
padding: 10px;
padding-bottom: 15px;
}

header img {
    grid-column: 2/3;
    width: 90px;
    border-radius: 1%;
    padding: 20px;
    text-align: justify;
    margin-left: 40px;
}

h1 {
    text-align: left;
    font-size: 50px;
    padding-left: 30px;
    grid-column: 3/4;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
}

/* nav */
    nav {
        background-color: rgb(188, 142, 217);
        padding: 10px;
        text-align: center;
        margin-top: -20px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    nav ul {
        list-style-type: none;
        text-align: center;
        margin: -10px;
        padding: 2%;
    }

    nav ul li {
        margin-top: 0px;
    }

    nav ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 19px;
    }

    /* nav ul li a:hover {
    color: #bae58cd7;
} */

    main {
        margin-left: 3%;
        margin-right: 3%;
    }

    /* h2 */
    h2 {
        text-align: center;
        border-style: solid;
        border-width: 0 0 2px 0;
        border-bottom-color: #325286;
        /* text-decoration: underline; */
    }

    /* cards */
    .card {
        box-shadow: 4px 4px 10px #325286;
        border-radius: 10px;
    }

    .card h3 {
        background-color: #d7d9ddcb;
        color: white;
        text-align: center;
        font-size: 18px;
        margin-top: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .card ul {
        padding-bottom: 9px;
    }

    #information {
        text-align: center;
    }

    /* footer */
    footer {
        background-color: #2f72e0;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        margin-top: 10px;

    }

    #firstParagraph {
        font-size: 14px;
        color: #93bcde;
    }

    #lastParagraph {
        font-size: 12px;
        color: #eeeee7aa;
        margin-top: 5px;
    }

    #firstParagraph::after {
        /* content: url(); */
        content: "🦙";
    }

    /* hamburger */
    #menu {
        font-size: 1.5rem;
        border: 1px solid rgba(159, 153, 225, 0.3);
        padding: 3px 7px 6px;
        background-color: rgba(229, 236, 218, 0.541);
        color: rgb(94, 149, 11);
        position: absolute;
        top: 1rem;
        right: 1rem;
        margin-right: 5%;
        margin-top: 8px;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "✖️";
    }

    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: rgb(7, 42, 56);
        color: white;

        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .navigation li {
        display: none;
    }

    .navigation li a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .navigation li a:hover {
        color: #bec2bae0;
    }

    /* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
    .open li {
        display: block;
        width: 100%;
    }

    .open li a {
        display: block;
    }

    /* map */
    iframe {
        width: 100%;
        height: 300px;

    }